@import url('./fonts/fonts.css');

:root {
  /* Colors */
  --color-accent-light: hsl(270, 85%, 90%);
  --color-accent: hsl(270, 65%, 75%);
  --color-accent-dark: hsl(270, 35%, 70%);

  --color-bg-light: hsl(270, 20%, 18%);
  --color-bg: hsl(270, 11%, 12%);
  --color-bg-dark: hsl(270, 80%, 5%);

  --color-text: hsl(264, 15%, 87%);
  --color-link: var(--color-accent-light);
  --color-border: hsl(270, 15%, 25%);

  --opacity-text: 0.8;
  --width-main: 100vw;
  --spacing: 1.5rem;

  --trans-func: cubic-bezier(0.4, 0, 0.2, 1);

  --shadow-md: 0px 4px 20px hsla(270, 8%, 5%, 0.9);
  --shadow-lg: 0px 12px 40px hsla(270, 8%, 5%, 0.9),
    0px -12px 20px hsl(263, 11%, 15%, 0.6);

  /* Font Sizes */
  --fs-4xl: 2.25rem;
  --fs-3xl: 1.875rem;
  --fs-2xl: 1.5rem;
  --fs-xl: 1.25rem;
  --fs-lg: 1.125rem;
  --fs-base: 1rem;
  --fs-sm: 0.835rem;
  --fs-xs: 0.75rem;

  /* Post Specific */
  --heading-filter: saturate(0.8);
  --mt-common: 1rem;
  --mb-common: 1.25rem;
  --lh-p: calc(var(--fs-base) * 1.65);
  --border: 1px solid var(--color-border);
}

* {
  margin: 0px;
  outline: var(--color-accent);
}

*:focus {
  filter: brightness(1.25) saturate(1.25);
}

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  scroll-behavior: smooth;
}

pre,
code {
  font-family: 'Fira Code', monospace;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 150ms var(--trans-func),
    border-color 150ms var(--trans-func);
  border-bottom: 2px solid var(--color-text);
}

a:hover {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

body {
  width: var(--width-main);
  min-width: 300px;
  min-height: 100vh;
  height: fit-content;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px var(--spacing);
}

nav {
  position: sticky;
  top: 0rem;
  padding: calc(var(--spacing) / 2) 0;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: var(--spacing);
  z-index: 10;

  background-color: var(--color-bg);

  font-size: var(--fs-sm);
  letter-spacing: 2px;

  margin-left: calc(-1 * var(--spacing));
  padding-left: var(--spacing);

  margin-right: calc(-1 * var(--spacing));
  padding-right: var(--spacing);
}

nav > a {
  border-bottom: none;
  color: var(--color-accent-dark);
  transition: color 150ms var(--trans-func);
}

nav > img {
  width: var(--fs-sm);
  height: var(--fs-sm);
  margin: 0;
  margin-left: auto;
}

nav > a:hover {
  color: var(--color-accent);
}

@media only screen and (min-width: 664px) {
  :root {
    --width-main: 600px;
    --spacing: 2rem;
  }

  html {
    font-size: 18px;
  }

  body {
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --width-main: 800px;
    --spacing: 2rem;
  }

  html {
    font-size: 18px;
  }

  body {
    padding: 0;
  }
}
