@import url('./common.css');

h1 {
  color: var(--color-heading);

  font-size: var(--fs-4xl);
  margin-top: 1rem;
  margin-bottom: var(--mb-common);
}

h2 {
  color: var(--color-heading);

  font-size: var(--fs-2xl);
  margin-top: 2.5rem;
  margin-bottom: var(--mb-common);
}

h3 {
  color: var(--color-heading);

  font-size: var(--fs-xl);
  margin-top: 2.25rem;
  margin-bottom: var(--mb-common);
}

h4 {
  color: var(--color-heading);

  font-size: var(--fs-lg);
  margin-top: 2rem;
  margin-bottom: var(--mb-common);
}

p {
  font-size: var(--fs-base);
  line-height: var(--lh-p);
  margin-top: var(--mt-common);
  margin-bottom: var(--mb-common);
}

time {
  display: block;
  color: var(--color-accent);
  font-size: var(--fs-sm);
  margin-top: var(--mt-common);
  margin-bottom: var(--mb-common);
}

p > code {
  padding: 0 0.25rem;
  color: var(--color-accent-light);

  border: var(--border);
  background-color: var(--color-bg-light);
  transition: color 150ms var(--trans-func),
    background-color 150ms var(--trans-func);
}

li {
  line-height: var(--lh-p);
}

li:first-child {
  margin-top: calc(-1 * var(--mb-common));
}

em,
strong {
  color: var(--color-accent-light);
}

strong {
  opacity: var(--opacity-text);
}

body {
  margin-bottom: calc(var(--spacing) * 2);
}

img {
  width: 100%;
  margin: 0.5rem 0;
  box-shadow: var(--shadow-md);
  border: var(--border);
}

nav img {
  box-shadow: none;
  border: none;
}

figcaption {
  width: 100%;
  text-align: center;
  font-size: var(--fs-xs);
  opacity: var(--opacity-text);
}

hr {
  position: relative;
  border: none;
  height: 1rem;
  margin: var(--spacing) 0px;
}

hr:after {
  position: absolute;

  top: 0px;
  left: 0px;
  width: 100%;

  content: '* * *';
  text-align: center;
  word-spacing: var(--spacing);
  font-size: var(--fs-base);

  color: var(--color-border);
}

details,
pre {
  width: 100%;
  margin: var(--spacing) 0px;
  font-size: var(--fs-sm);
  background-color: var(--color-bg-light);
  padding: calc(var(--spacing) / 2);
  box-sizing: border-box;

  border: var(--border);
  box-shadow: var(--shadow-md);
  overflow: auto;
}

details > summary {
  cursor: pointer;
  font-weight: 700;
  transition: color 150ms var(--trans-func);
}

details > summary:hover {
  color: var(--color-accent-light);
}

details > *:nth-child(2) {
  padding-top: var(--mt-common);
  border-top: 1px solid var(--color-border);
}

details > *:last-child {
  margin-bottom: 0;
}

blockquote {
  padding: calc(var(--spacing) / 4);
  border: var(--border);
  border-left: 4px solid var(--color-accent-light);
  box-shadow: var(--shadow-md);
  background-color: var(--color-bg-light);
}

blockquote > p:first-child {
  margin-top: 0rem;
}

blockquote > p:last-child {
  margin-bottom: 0rem;
}

/* Hover Tooltip Button Element */
[data-content] {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: inherit;
  background: inherit;
  display: inline;
  position: inherit;
  line-break: inherit;
  word-wrap: inherit;
  height: inherit;

  height: auto;
  width: auto;

  margin: 0;
  padding: 0;

  position: relative;
  cursor: pointer;
  border-bottom: 2px dotted var(--color-accent);
  transition: border 150ms var(--trans-func);
}

[data-content]:focus {
  filter: none;
  border-color: var(--color-accent);
}

[data-content]:after {
  opacity: 0;
  transition-timing-function: var(--trans-func);
  transition-duration: 150ms;
  transition-property: opacity, top, box-shadow;

  pointer-events: none;
  content: attr(data-content);
  font-size: var(--fs-sm);
  line-height: 150%;
  text-align: start;

  width: 256px;
  box-sizing: border-box;
  overflow-y: auto;
  padding: calc(var(--spacing) / 2);

  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%);

  color: var(--color-text);
  background-color: var(--color-bg-light);
}

[data-content]:focus:after {
  opacity: 1;
  top: calc(var(--spacing) * -0.5);
  border: var(--border);
  box-shadow: var(--shadow-lg);
}

/* Copy Element */

pre.sourceCode {
  position: relative;
  cursor: pointer;
}

pre.sourceCode:hover:before {
  content: attr(data-copy);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.125rem 0.25rem;
  color: var(--color-accent-light);
}

/* Copy Header Link */

h1,
h2,
h3 {
  cursor: pointer;
}

h1:hover:after,
h2:hover:after,
h3:hover:after {
  font-family: 'Fira Code', monospace;
  content: '#';
  line-height: 0;
  font-weight: 400;
  margin-left: 0.2rem;
  color: var(--color-accent-light);
  cursor: pointer;
}
